.show-book {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .items {
    gap: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  img {
    width: 11em;
    height: 16em;
    object-fit: fill;
  }
}
